body{
    background: linear-gradient(90deg, rgb(101, 234, 68),rgb(161, 229, 112));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    cursor: pointer;
}
h1{
    text-shadow: 2px 2px  4px rgb(249, 249, 249);
    margin-right: 10px;
}
.subtitle{
    
    
    font-size: 20px;
}
table{
    width: 50%;
    max-width: 600px ;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
th,td{
    padding: 15px;
    text-align: center;
    border-bottom: 1.5px solid;

}
th{
    background-color: rgb(58, 180, 6);
}
tr:hover{
    background-color: rgb(145, 240, 146);
    transition: 0.3s;
}
.text{
    margin-top: 25px;
    font-style: italic;
    text-align: center;
}
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    font-size: 20px;
}